body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    
}
.container{
    border: solid 1px;
    width: 800px;
    margin: auto;
}
/* header */
.header-cv{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
}
.header-cv .logo{
    padding: 30px;
    padding-bottom: 120px;
    border: none;
    background:url(../image/somnak.png);
    background-size: cover;
    grid-column-start: 1;
    grid-column-end: 2;
}
.header-cv .co-name{
    background: rgb(98, 93, 93);
    grid-column-start: 3;
    grid-column-end: 7;
    color: white;
}
.header-cv .name{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ==============<>=============== */
/* content */
.content{
    display: flex;
}
h3,h4{
    text-transform: uppercase;
    color: white;
}
h4{
    background: rgb(15, 0, 151);
    color: white;
    border-radius: 1rem 0rem ;
    padding: 10px;
}
strong{
    text-transform: capitalize;
}
.side-left{
    background: rgb(49, 44, 44);
    padding: 25px;
    width: 150%;
}
.side-right{
    background: rgb(255, 255, 255);
    padding: 20px;
}
/* .skill */
.checked{
    color:yellow;
}
/* icon */
.icon-1{
    padding: 20px;
    font-size: 20px;
    color:blue;
}