body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    
}
.container{
    border: solid;
    width: 800px;
    margin: auto;
}
/* header */
.header-cv{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    /* gap: 10px; */
    /* padding: 20px; */
}
.header-cv .logo{
    padding: 30px;
    padding-bottom: 120px;
    border: solid 1px;
    /* background: #000; */
    grid-column-start: 1;
    grid-column-end: 2;
    /* grid-row-start: 1; */
    /* grid-row-end: 5; */
    border: solid 1px;
    /* width: 20%; */
    /* height: 20vh; */
    /* margin-left: 25%; */
}
.header-cv .co-name{
    border: solid 1px;
    /* background: #000; */
    grid-column-start: 3;
    grid-column-end: 7;
}
.header-cv .name{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ==============<>=============== */
/* content */
.content{
    margin-top: px;
    /* height:700px; */
    display: grid;
    grid-template-columns: repeat(6,1fr);
}
h3{
    text-transform: uppercase;
}
strong{
    text-transform: capitalize;
}
.side-left{
    grid-column-start: 1;
    grid-column-end: 3;
    background: rgba(4, 28, 109, 0.692);
    /* border: solid; */
    /* word-break: break-all; */
    padding: 20px;
}
.side-right{
    grid-column-start: 3;
    grid-column-end: 7;
    /* border: solid; */
    background: rgb(255, 255, 255);
    padding: 20px;
}
/* .skill */
.checked{
    color:yellow;
}
.border-1{
    border: solid 2px;
    background: #000;
    padding: 1px;
}
/* icon */
.icon-1{
    padding: 20px;
    font-size: 20px;
    color:blue;
}